.conoceme {grid-area: conoceme;}

.sobremi {
    background-image: url(../images/portada2.jpg);
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-inline: 200px;
    animation: movimiento 5s infinite linear alternate;
}
.clearfix {
    background-color: rgb(46, 47, 54);
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 50px;
    padding: 50px;
}
.clearfix img{width: 400px;border: 5px solid white;
}
.clearfix p{font-family: 'letra1';}
@keyframes movimiento {
    from {
        background-position: bottom left;
    }

    to {
        background-position: top right;
    }
}
.sobremi div {background-color: rgba(255, 255, 255, 0.522);}
.sobremi div h2 {
    padding-inline: 15px;
    text-align: center;
    font-family: 'anime';
    font-size: 50px;
    color: #718a2c;
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff;
}
.sobremi div p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'letra1';
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff;
    font-size: 25px;
}
.container{
    padding: 50px;
    border-radius: 5%;
    background: linear-gradient(180deg, rgb(28, 28, 28), rgb(46, 46, 46));
}
.container div div h1{text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 4px #fff, 0 0 4px #fff;}
.container div img{border-radius: 20%;}