#footer {background-color: rgba(43, 43, 43, 0.374);
    grid-area: footer;}
#footer div h2{font-family: 'anime';}
#footer div p{font-family: 'letra1';}
#footer div ul li{font-family: 'letra1';}
#footer{
    background-color: $color-especial-3;
    div{
        h2{
            font-family: map-get($diccionario-letras, "letra-1");
        }
        p{
            font-family: map-get($diccionario-letras, "letra-2");
        }
    }
    div{
        ul{
            li{
                font-family: map-get($diccionario-letras, "letra-2");
            }
        }
    }
}