.listamods {
    grid-area: listamods;
    padding: 40px;
    gap: 20px;
    display: grid;
    grid-template-rows: .5fr .5fr .5fr .5fr;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-areas: ". carta1 carta2 carta3"
        "carta4 carta5 carta6 carta7"
        "carta8 carta9 carta10 carta11"
        "carta12 carta13 carta14 carta15";
}
.listamods{
    .titmods{
        border-left: solid 5px $color-12;
        padding-left: 0.5em;
        font-size: 25px;
        color: $color-13;
        margin-top: 150px;
        margin-bottom: 200px;
    }
    .carta{
        grid-area: carta1;
        background: map-get($degradado, "degradado-1");
        border-radius: 10px;
        &:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px $negro;
        }
        div{
            h5{
                margin-bottom: 10px;
                font-size: 20px;
                font-family: 'anime';
                background: map-get($degradado, "degradado-9");
                text-shadow: map-get($diseño-letras,"diseño-letra-5"), map-get($diseño-letras,"diseño-letra-6"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7");
                text-align: center;
            }
            .btn{
                font-size: .8rem !important;
            }
            .button_mediafire{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
            .button_mega{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                margin-top: 10px;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
        }
    }
    .carta2{
        grid-area: carta2;
        background: map-get($degradado, "degradado-1");
        border-radius: 10px;
        &:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px $negro;
        }
        div{
            h5{
                margin-bottom: 10px;
                font-size: 20px;
                font-family: 'anime';
                background: map-get($degradado, "degradado-10");
                text-shadow: map-get($diseño-letras,"diseño-letra-5"), map-get($diseño-letras,"diseño-letra-6"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7");
                text-align: center;
            }
            .btn{
                font-size: .8rem !important;
            }
            .button_mediafire{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
            .button_mega{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                margin-top: 10px;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
        }
    }
    .carta3{
        grid-area: carta3;
        background: map-get($degradado, "degradado-1");
        border-radius: 10px;
        &:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px $negro;
        }
        div{
            h5{
                margin-bottom: 10px;
                font-size: 20px;
                font-family: 'anime';
                background: map-get($degradado, "degradado-11");
                text-shadow: map-get($diseño-letras,"diseño-letra-5"), map-get($diseño-letras,"diseño-letra-6"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7");
                text-align: center;
            }
            .btn{
                font-size: .8rem !important;
            }
            .button_mediafire{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
            .button_mega{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                margin-top: 10px;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
        }
    }
    .carta4{
        grid-area: carta4;
        background: map-get($degradado, "degradado-1");
        border-radius: 10px;
        &:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px $negro;
        }
        div{
            h5{
                margin-bottom: 10px;
                font-size: 20px;
                font-family: 'anime';
                background: map-get($degradado, "degradado-10");
                text-shadow: map-get($diseño-letras,"diseño-letra-5"), map-get($diseño-letras,"diseño-letra-6"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7");
                text-align: center;
            }
            .btn{
                font-size: .8rem !important;
            }
            .button_mediafire{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
            .button_mega{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                margin-top: 10px;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
        }
    }
    .carta5{
        grid-area: carta5;
        background: map-get($degradado, "degradado-1");
        border-radius: 10px;
        &:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px $negro;
        }
        div{
            h5{
                margin-bottom: 10px;
                font-size: 20px;
                font-family: 'anime';
                background: map-get($degradado, "degradado-10");
                text-shadow: map-get($diseño-letras,"diseño-letra-5"), map-get($diseño-letras,"diseño-letra-6"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7");
                text-align: center;
            }
            .btn{
                font-size: .8rem !important;
            }
            .button_mediafire{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
            .button_mega{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                margin-top: 10px;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
        }
    }
    .carta6{
        grid-area: carta6;
        background: map-get($degradado, "degradado-1");
        border-radius: 10px;
        &:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px $negro;
        }
        div{
            h5{
                margin-bottom: 10px;
                font-size: 20px;
                font-family: 'anime';
                background: map-get($degradado, "degradado-9");
                text-shadow: map-get($diseño-letras,"diseño-letra-5"), map-get($diseño-letras,"diseño-letra-6"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7");
                text-align: center;
            }
            .btn{
                font-size: .8rem !important;
            }
            .button_mediafire{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
            .button_mega{
                border-radius: 3px;
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                margin-top: 10px;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
        }
    }
    .carta7{
        grid-area: carta7;
        background: map-get($degradado, "degradado-1");
        border-radius: 10px;
        &:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px $negro;
        }
        div{
            h5{
                margin-bottom: 10px;
                font-size: 20px;
                font-family: 'anime';
                background: map-get($degradado, "degradado-10");
                text-shadow: map-get($diseño-letras,"diseño-letra-5"), map-get($diseño-letras,"diseño-letra-6"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7");
                text-align: center;
            }
            .btn{
                font-size: .8rem !important;
            }
            .button_mediafire{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
            .button_mega{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                margin-top: 10px;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
        }
    }
    .carta8{
        grid-area: carta8;
        background: map-get($degradado, "degradado-1");
        border-radius: 10px;
        &:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px $negro;
        }
        div{
            h5{
                margin-bottom: 10px;
                font-size: 20px;
                font-family: 'anime';
                background: map-get($degradado, "degradado-10");
                text-shadow: map-get($diseño-letras,"diseño-letra-5"), map-get($diseño-letras,"diseño-letra-6"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7");
                text-align: center;
            }
            .btn{
                font-size: .8rem !important;
            }
            .button_mediafire{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
            .button_mega{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                margin-top: 10px;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
        }
    }
    .carta9{
        grid-area: carta9;
        background: map-get($degradado, "degradado-1");
        border-radius: 10px;
        &:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px $negro;
        }
        div{
            h5{
                margin-bottom: 10px;
                font-size: 20px;
                font-family: 'anime';
                background: map-get($degradado, "degradado-12");
                text-shadow: map-get($diseño-letras,"diseño-letra-5"), map-get($diseño-letras,"diseño-letra-6"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7");
                text-align: center;
            }
            .btn{
                font-size: .8rem !important;
            }
            .button_mediafire{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
            .button_mega{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                margin-top: 10px;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
        }
    }
    .carta10{
        grid-area: carta10;
        background: map-get($degradado, "degradado-1");
        border-radius: 10px;
        &:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px $negro;
        }
        div{
            h5{
                margin-bottom: 10px;
                font-size: 20px;
                font-family: 'anime';
                background: map-get($degradado, "degradado-12");
                text-shadow: map-get($diseño-letras,"diseño-letra-5"), map-get($diseño-letras,"diseño-letra-6"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7");
                text-align: center;
            }
            .btn{
                font-size: .8rem !important;
            }
            .button_mediafire{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
            .button_mega{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                margin-top: 10px;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
        }
    }
    .carta11{
        grid-area: carta11;
        background: map-get($degradado, "degradado-1");
        border-radius: 10px;
        &:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px $negro;
        }
        div{
            h5{
                margin-bottom: 10px;
                font-size: 20px;
                font-family: 'anime';
                background: map-get($degradado, "degradado-11");
                text-shadow: map-get($diseño-letras,"diseño-letra-5"), map-get($diseño-letras,"diseño-letra-6"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7");
                text-align: center;
            }
            .btn{
                font-size: .8rem !important;
            }
            .button_mediafire{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
            .button_mega{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                margin-top: 10px;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
        }
    }
    .carta12{
        grid-area: carta12;
        background: map-get($degradado, "degradado-1");
        border-radius: 10px;
        &:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px $negro;
        }
        div{
            h5{
                margin-bottom: 10px;
                font-size: 20px;
                font-family: 'anime';
                background: map-get($degradado, "degradado-9");
                text-shadow: map-get($diseño-letras,"diseño-letra-5"), map-get($diseño-letras,"diseño-letra-6"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7");
                text-align: center;
            }
            .btn{
                font-size: .8rem !important;
            }
            .button_mediafire{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
            .button_mega{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                margin-top: 10px;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
        }
    }
    .carta13{
        grid-area: carta13;
        background: map-get($degradado, "degradado-1");
        border-radius: 10px;
        &:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px $negro;
        }
        div{
            h5{
                margin-bottom: 10px;
                font-size: 20px;
                font-family: 'anime';
                background: map-get($degradado, "degradado-11");
                text-shadow: map-get($diseño-letras,"diseño-letra-5"), map-get($diseño-letras,"diseño-letra-6"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7");
                text-align: center;
            }
            .btn{
                font-size: .8rem !important;
            }
            .button_mediafire{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
            .button_mega{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                margin-top: 10px;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
        }
    }
    .carta14{
        grid-area: carta14;
        background: map-get($degradado, "degradado-1");
        border-radius: 10px;
        &:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px $negro;
        }
        div{
            h5{
                margin-bottom: 10px;
                font-size: 20px;
                font-family: 'anime';
                background: map-get($degradado, "degradado-10");
                text-shadow: map-get($diseño-letras,"diseño-letra-5"), map-get($diseño-letras,"diseño-letra-6"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7");
                text-align: center;
            }
            .btn{
                font-size: .8rem !important;
            }
            .button_mediafire{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
            .button_mega{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                margin-top: 10px;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
        }
    }
    .carta15{
        grid-area: carta15;
        background: map-get($degradado, "degradado-1");
        border-radius: 10px;
        &:hover{
            transform: translateY(-15px);
            box-shadow: 0 12px 16px $negro;
        }
        div{
            h5{
                margin-bottom: 10px;
                font-size: 20px;
                font-family: 'anime';
                background: map-get($degradado, "degradado-10");
                text-shadow: map-get($diseño-letras,"diseño-letra-5"), map-get($diseño-letras,"diseño-letra-6"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7"), map-get($diseño-letras,"diseño-letra-7");
                text-align: center;
            }
            .btn{
                font-size: .8rem !important;
            }
            .button_mediafire{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
            .button_mega{
                border-radius: 3px;
                border: 3px solid white;
                padding: 10px;
                color: white;
                font-weight: bold;
                display: flex;
                margin-top: 10px;
                text-decoration: none;
                margin-right: 30px !important;
                margin-left: 50px !important;
            }
        }
    }
}
@media only screen and (max-width: 1024px) {
    #grilla3 {
        display: grid;
        grid-template-rows: .01fr 1.5fr 3fr .1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "header"
            "portada"
            "listamods"
            "footer";
    }
}
@media only screen and (max-width: 500px) {
    .listamods .titmods {font-size: 12px;}
    .info {padding-inline: 15px;}
    .carta h4 {padding-bottom: 5px;font-size: 10px;}
    .button_mediafire {border: 1px solid white;padding: 3px;font-size: 15px;}
    .button_mega {border: 1px solid white;padding: 3px;font-size: 15px;}
    .carta2 h4 {padding-bottom: 5px;font-size: 8px;}
    .carta3 h4 {padding-bottom: 5px;font-size: 8px;}
    .carta4 h4 {padding-bottom: 5px;font-size: 8px;}
    .carta5 h4 {padding-bottom: 5px;font-size: 8px;}
    .carta6 h4 {padding-bottom: 5px;font-size: 8px;}
    .carta7 h4 {padding-bottom: 5px;font-size: 10px;}
    .carta8 h4 {padding-bottom: 5px;font-size: 8px;}
    .carta9 h4 {padding-bottom: 5px;font-size: 8px;}
    .carta10 h4 {padding-bottom: 5px;font-size: 8px;}
    .carta11 h4 {padding-bottom: 5px;font-size: 8px;}
    .carta12 h4 {padding-bottom: 5px;font-size: 8px;}
    .carta13 h4 {padding-bottom: 5px;font-size: 8px;}
    .carta14 h4 {padding-bottom: 5px;font-size: 8px;}
    .carta15 h4 {padding-bottom: 5px;font-size: 8px;}
}
