@font-face {font-family: "anime";src: url("../assets/fonts/bouncy_2/Bouncy-Thin-PERSONAL_USE_ONLY.otf");}
@font-face {font-family: "letra1";src: url("../assets/fonts/janda_manatee/JandaManateeSolid.ttf");}
@font-face {font-family: "letra_2";src: url("../assets/fonts/AG-Stencil/AG-Stencil.ttf");}
$diccionario-letras:(
    "letra-1":'anime',
    "letra-2":'letra1',
    "letra-3":'letra_2',
);
$color-especial-1: rgba(18, 18, 18, 0.437);
$color-especial-2: rgba(242, 249, 255, 0.56);
$color-especial-3:rgba(43, 43, 43, 0.374);
$color-especial-4:rgba(58, 97, 95, 0.437);
$color-especial-5:rgba(107, 16, 115, 0.56);
$color-especial-6: rgba(255, 255, 255, 0.522);
$color-1: rgb(78, 71, 163);
$color-2: rgb(35, 184, 217);
$color-3:rgb(217, 117, 35);
$color-4:rgb(177, 183, 97);
$color-5:rgb(83, 143, 241);
$color-6:rgb(222, 78, 121);
$color-7:rgb(136, 237, 121);
$color-8:rgb(255, 75, 90);
$color-9:rgb(218, 237, 121);
$color-10:rgb(255, 174, 75);
$color-11:#8AF;
$color-12:rgb(224, 56, 0);
$color-13:wheat;
$color-14:rgb(121, 210, 237);
$color-15:rgb(61, 156, 14);
$color-16:rgb(216, 237, 121);
$color-17:rgb(220, 199, 40);
$color-18:#718a2c;
$color-fondo: rgb(46, 47, 54);
$color-rosa: #a945c7;
$color-rosa-suave:rgb(194, 121, 237);
$color-rosa-oscuro:rgb(121, 55, 159);
$negro: rgba(0,0,0,0.2);

$degradado:(
    "degradado-1":linear-gradient(180deg, $color-especial-1, $color-especial-2),
    "degradado-2": linear-gradient(70deg, $color-1, $color-2),
    "degradado-3": linear-gradient(70deg, $color-rosa, $color-3),
    "degradado-4": linear-gradient(70deg, $color-4, $color-rosa),
    "degradado-5": linear-gradient(70deg, $color-5, $color-6),
    "degradado-6": linear-gradient(70deg, $color-7, $color-8),
    "degradado-7": linear-gradient(70deg, $color-9, $color-10),
    "degradado-8": linear-gradient(70deg, $color-9, $color-rosa),
    "degradado-9": linear-gradient(90deg, $color-rosa-suave, $color-rosa-oscuro),
    "degradado-10": linear-gradient(90deg, $color-14, $color-5),
    "degradado-11": linear-gradient(90deg, $color-7, $color-15),
    "degradado-12": linear-gradient(90deg, $color-16, $color-17),
    "degradado-13": linear-gradient(260deg, $color-especial-4, $color-especial-5)
);

$diseño-letras:(
    "diseño-letra-1":0 0 10px $color-rosa,
    "diseño-letra-2":0 0 40px $color-rosa,
    "diseño-letra-3":0 0 80px $color-rosa,
    "diseño-letra-4":0 70px 40px -20px $negro,
    "diseño-letra-5":0 0 1px #fff,
    "diseño-letra-6":0 0 3px #fff,
    "diseño-letra-7":0 0 4px #fff
);