.lisvideos{
    .seccionnuevas{
        div{
            h3{
                display: inline-block;
            }
        }
    }
    div{
        div{
            div{
                .cards-wrapper{
                    #carta-youtube{
                        margin: 0 1em;
                        width: calc(100%/4);
                        background: map-get($degradado, "degradado-13");
                        div{
                            a{
                                text-decoration: none;
                                h5{
                                    font-family: map-get($diccionario-letras, "letra-1");text-shadow: map-get($diseño-letras, "diseño-letra-5"), map-get($diseño-letras, "diseño-letra-6"), map-get($diseño-letras, "diseño-letra-7"), map-get($diseño-letras, "diseño-letra-7"), map-get($diseño-letras, "diseño-letra-7");
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
div{
    .maslista{
        margin-top: 10px;
        margin-left: 800px;
        padding: 15px 30px;
        color: white;
        letter-spacing: 4px;
        text-decoration: none;
        overflow: hidden;
        transition: 0.2s;
        &:hover{
            background: $color-rosa;
            box-shadow: 0 0 10px $color-rosa, 0 0 40px $color-rosa, 0 0 80px $color-rosa;
            color: white;
            transition-delay: 0.1s;
        }
    }
}
div{
    .cards-wrapper{
        #carta-youtube{
            margin: 0 1em;
            width: calc(100%/4);
            background: map-get($degradado, "degradado-13");
            div{
                a{
                    text-decoration: none;
                    h5{
                        font-family: map-get($diccionario-letras, "letra-1");text-shadow: map-get($diseño-letras, "diseño-letra-5"), map-get($diseño-letras, "diseño-letra-6"), map-get($diseño-letras, "diseño-letra-7"), map-get($diseño-letras, "diseño-letra-7"), map-get($diseño-letras, "diseño-letra-7");
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px) {
    #grilla4 {
        display: grid;
        grid-template-rows: .01fr .1fr 1fr .1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "header"
            "portada"
            "listvideos"
            "footer";
    }
}
@media only screen and (max-width: 1200px) {
    .maslista{margin-left: 500px;}
}
@media only screen and (max-width: 992px) {
    .lisvideos div div div .cards-wrapper #carta-youtube{
        width: 100%;
    }
    .card-body h5{
        font-size: 20px !important;
    }
    div .cards-wrapper #carta-youtube{
        width: 100%;
    }
    div .maslista{margin-left: 10px;}
    .card-body h5{font-size: 15px;}
}
@media only screen and (max-width: 768px){
    .maslista{margin-left: 100px;}
    .card-body h5{font-size: 12px;}
    .seccionnuevas .cards-wrapper{padding-left: 50px;padding-right: 50px;}
}
@media only screen and (max-width: 576px) {
    .card-body h5{font-size: 8px;}
    .seccionnuevas .cards-wrapper{padding-left: 20px;padding-right: 20px;}
    .maslista{margin-left: 0px;}
}