@import './_variables';
@import './mixins';
@import './_header';
@import './_portada';
#grilla {
    background: url(../images/fondo.jpg);
    background-size: 100%;
    display: grid;
    grid-template-rows: .01fr .1fr .5fr .5fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
        "portada"
        "main"
        "main"
        "footer";
}
@import './_index';
@import './_footer';
#grilla2 {
    background: url(../images/fondo.jpg);
    background-size: 100%;
    display: grid;
    grid-template-rows: .1fr .5fr 5fr .1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
        "portada"
        "aviso"
        "footer";
}
@import './_noticiasnuevas';
#grilla3 {
    background: url(../images/fondo.jpg);
    background-size: 100%;
    display: grid;
    grid-template-rows: .01fr 1fr 2fr .1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
        "portada"
        "listamods"
        "footer";
}
@import './_mods';
#grilla4 {
    background: url(../images/fondo.jpg);
    background-size: 100%;
    display: grid;
    grid-template-rows: .01fr .1fr 1fr .1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
        "portada"
        "listvideos"
        "footer";
}
@import './videos';
#grilla5 {
    background: url(../images/fondo.jpg);
    background-size: 100%;
    display: grid;
    grid-template-rows: .1fr 3fr .1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
        "conoceme"
        "footer";
}
@import './contacto';
@include implementacion-query(1400);
@include implementacion-query(1200);
@include implementacion-query(1024);
@include implementacion-query(768);
@include implementacion-query(992);
@include implementacion-query(576);
@include implementacion-query(500);
